# Wheely-Good Repairs
### Database Declaration

In [1]:
DROP DATABASE car_repair_shop
CREATE DATABASE car_repair_shop
USE car_repair_shop

### Tables declaration

In [ ]:
CREATE TABLE car_models(
    model_id INT IDENTITY(1, 1) PRIMARY KEY,
    model_name VARCHAR(30) NOT NULL,
    year INT,
    fuel_type VARCHAR(10),
    seats INT,
    country VARCHAR(20)
);

In [ ]:
CREATE TABLE customers(
    customer_id INT IDENTITY(1, 1) PRIMARY KEY,
    identification_number VARCHAR(8) NOT NULL,
    birthday DATE,
    join_date DATE,
)

In [ ]:
CREATE TABLE cars (
    car_id INT IDENTITY(1, 1) PRIMARY KEY,
    model_id INT NOT NULL FOREIGN KEY (model_id) REFERENCES car_models (model_id),
    customer_id INT NOT NULL FOREIGN KEY (customer_id) REFERENCES customers (customer_id),
    license_plate VARCHAR(10) NOT NULL,
    mileage INT,
    purchase_date DATE
);

In [ ]:
CREATE TABLE repairs(
    repair_id INT IDENTITY(1, 1) PRIMARY KEY,
    car_id INT FOREIGN KEY REFERENCES cars(car_id),
    customer_id INT FOREIGN KEY REFERENCES customers(customer_id),
    repair_type INT FOREIGN KEY REFERENCES repair_types(repair_type_id),
    repair_time DATETIME
);