# Wheely-Good Repairs
### Database Declaration

In [1]:
DROP DATABASE car_repair_shop
CREATE DATABASE car_repair_shop
USE car_repair_shop

### Tables declaration

In [ ]:
CREATE TABLE car_models(
    model_id INT IDENTITY(1, 1) PRIMARY KEY,
    model_name VARCHAR(30) NOT NULL,
    year INT,
    fuel_type VARCHAR(10),
    seats INT,
    country VARCHAR(20)
);

In [ ]:
CREATE TABLE people(
    person_id INT IDENTITY(1, 1) PRIMARY KEY,
    name VARCHAR(30) NOT NULL,
    identification_number VARCHAR(8) NOT NULL,
    email VARCHAR(30),
    phone VARCHAR(20),
    person_type VARCHAR(10) NOT NULL, -- for inheritance 'Worker', 'Customer', 'Supplier'
    birthdate DATE,
);

In [ ]:
CREATE TABLE customers(
    customer_id INT IDENTITY(1, 1) PRIMARY KEY,
    person_id INT NOT NULL REFERENCES people(person_id),
    join_date DATE NOT NULL
);

In [ ]:
CREATE TABLE technicians(
    technician_id INT IDENTITY(1, 1) PRIMARY KEY,
    person_id INT NOT NULL REFERENCES people(person_id),
    specialization VARCHAR(100),
    join_date DATE NOT NULL
);

In [ ]:
CREATE TABLE cars(
    car_id INT IDENTITY(1, 1) PRIMARY KEY,
    model_id INT NOT NULL REFERENCES car_models (model_id),
    customer_id INT NOT NULL REFERENCES customers (customer_id),
    license_plate VARCHAR(10) NOT NULL,
    mileage INT,
    purchase_date DATE
);

In [ ]:
CREATE TABLE repairs(
    repair_id INT IDENTITY(1, 1) PRIMARY KEY,
    car_id INT REFERENCES cars(car_id),
    customer_id INT REFERENCES customers(customer_id),
    repair_type INT REFERENCES repair_types(repair_type_id),
    repair_time DATETIME
);

In [ ]:
CREATE TABLE transactions(
    transaction_id INT IDENTITY(1, 1) PRIMARY KEY,
    customer_id INT NOT NULL REFERENCES customers(customer_id),
    car_id INT REFERENCES cars(car_id),
    service_id INT NOT NULL REFERENCES services(service_id),
    technician_id INT NOT NULL REFERENCES technicians(technician_id),
    transaction_date DATETIME NOT NULL,
    total_amount DECIMAL(10, 2) NOT NULL,
    payment_method VARCHAR(50) NOT NULL,
    notes VARCHAR(500)
);