# Wheely-Good Repairs
### Database Declaration

In [2]:
DROP DATABASE car_repair_shop
CREATE DATABASE car_repair_shop
USE car_repair_shop

: Msg 3702, Level 16, State 3, Line 1
Cannot drop database "car_repair_shop" because it is currently in use.

: Msg 1801, Level 16, State 3, Line 2
Database 'car_repair_shop' already exists. Choose a different database name.

### Tables declaration

In [3]:
CREATE TABLE car_models(
    model_id INT IDENTITY(1, 1) PRIMARY KEY,
    manufacturer VARCHAR(30) NOT NULL,
    model_name VARCHAR(30) NOT NULL,
    year INT,
    fuel_type VARCHAR(10),
    seats INT,
    country VARCHAR(20)
);

In [4]:
CREATE TABLE people(
    person_id INT IDENTITY(1, 1) PRIMARY KEY,
    name VARCHAR(30) NOT NULL,
    identification_number VARCHAR(8) NOT NULL,
    email VARCHAR(30),
    phone VARCHAR(20),
    birthdate DATE -- constraint older than 18
);

In [5]:
CREATE TABLE customers(
    person_id INT PRIMARY KEY REFERENCES people(person_id),
    join_date DATE NOT NULL DEFAULT GETDATE(),
    loyalty_program BIT,
    lifetime_spending DECIMAL(10, 2)
);

In [6]:
CREATE TABLE employees(
    person_id INT NOT NULL PRIMARY KEY REFERENCES people(person_id),
    department VARCHAR(20) NOT NULL,
    job_title VARCHAR(20) NOT NULL,
    specialization VARCHAR(20),
    start_date DATE NOT NULL DEFAULT GETDATE(),
    end_date DATE -- constraint later than start date
);

In [8]:
CREATE TABLE cars(
    car_id INT IDENTITY(1, 1) PRIMARY KEY,
    model_id INT NOT NULL REFERENCES car_models (model_id),
    customer_id INT NOT NULL REFERENCES customers (person_id),
    license_plate VARCHAR(10) NOT NULL,
    mileage INT,
    purchase_date DATE
);

In [9]:
CREATE TABLE repairs(
    repair_id INT IDENTITY(1, 1) PRIMARY KEY,
    car_id INT REFERENCES cars(car_id),
    repair_type VARCHAR(20),
    technician INT REFERENCES employees(person_id),
    repair_start DATETIME DEFAULT GETDATE(),
    repair_end DATETIME, -- constraint after repair start
    cost DECIMAL(10,2)
);

In [12]:
CREATE TABLE transactions(
    transaction_id INT IDENTITY(1, 1) PRIMARY KEY,
    customer_id INT NOT NULL REFERENCES customers(person_id),
    car_id INT REFERENCES cars(car_id),
    -- service_id INT NOT NULL REFERENCES services(service_id),
    technician_id INT NOT NULL REFERENCES employees(person_id),
    transaction_date DATETIME NOT NULL,
    total_amount DECIMAL(10, 2) NOT NULL,
    payment_method VARCHAR(50) NOT NULL,
    transaction_time DATETIME NOT NULL DEFAULT GETDATE(),
    notes VARCHAR(500)
);